<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            line-height: 1.6;
        }

        body {
            -webkit-touch-callout: none;
            font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
            line-height: inherit;
            background-color: #fff;
        }

        .page-content {
            position: relative;
            padding: 20px 15px 15px;
            background-color: #fff;
        }

        .title {
            margin-bottom: 10px;
            line-height: 1.4;
            font-weight: 400;
            font-size: 24px;
        }

        .content {
            position: relative;
            overflow: hidden;
            color: #3e3e3e;
        }

        .content * {
            max-width: 100% !important;
            box-sizing: border-box !important;
            -webkit-box-sizing: border-box !important;
            word-wrap: break-word !important;
        }

        .content p {
            clear: both;
            min-height: 1em;
            margin: 1em 0;
        }

        p img {
            width: auto;
            height: auto;
            visibility: visible;
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class="page-content">
    <h2 class="title" id="activity-name">{{title}}</h2>
    <div class="content">
    {{content}}
    </div>
</div>
</body>
</html>