<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正文详情</title>
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css" />
</head>
<body>

<article class="weui-article">
    <section>
        <h2 class="title">{{title}}</h2>
        <hr>
        <section>
            {{content}}
        </section>
    </section>
</article>

</body>
</html>